# It's possible to specify any number of targets

# Example configuration
# Run 'hamstr mysqldump prod' to target this
HAMSTR_PROD_DB=mysql://username:pw@127.0.0.1:3306/databasename
HAMSTR_PROD_SSH=username@someserver.com
HAMSTR_PROD_SSH_PW=randompassword

# Run 'hamstr mysqldump stage' to target this
HAMSTR_STAGE_DB=
HAMSTR_STAGE_SSH=
HAMSTR_STAGE_SSH_PW=

# If you don't need tunnelling you just need
# to provide a DB connection string
HAMSTR_QA_DB=
